{% extends "_layout.html" %}
{#{% block nav %}{% endblock %}#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span6 offset3 well">
            <div id="single_event_page">
               <div class="subject">{{ event.subject }}</div>
                <div style="float: right;">{{ event.logo }}</div>
                <div class="float_destroyer"/>
                <table>
                    <tr>
                        <td>
                            <label>Author</label>
                        </td>
                        <td>
                            {{ event.author.full_name }}
                            <img src="{{ event.author.avatar_url }}" alt=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Description</label>
                        </td>
                        <td>
                            {{ event.description }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Start date</label>
                        </td>
                        <td>
                            {{ event.start_date.strftime("%Y-%m-%d %H:%M") }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>End date</label>
                        </td>
                        <td>
                            {{ event.end_date.strftime("%Y-%m-%d %H:%M") }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Location</label>
                        </td>
                        <td>
                            {{ event.location}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tags</label>
                        </td>
                        <td>
                            {% for tag in event.tags %}
                                {{ tag }}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <div class="comment_label">Comments</div>
                <div class="comments">
                    {% for comment in event.comments %}
                    <div style="float: left;">
                        <img src="{{ comment.author.avatar_url }}" alt="">
                        <span class="author_name">{{ comment.author.full_name }}</span>
                    </div>
                    <div class="comment_date" style="float: right;">{{ comment.date }}</div>
                    <div class="float_destroyer"/>
                    <p class="comment_text">
                        {{ comment.text }}
                    </p>
                    {% endfor %}
                    <form enctype="multipart/form-data" action="{{ url_for('event.add_comment', event_id = event._id) }}" method="post">
                        <div class="btn-margin-top">
                            <textarea id="comment" name="comment" style="display: block;" type="text">
                            </textarea>
                            <button type="submit" class="btn large btn-success">Add comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
