{% extends "_layout.html" %}
{#{% block nav %}{% endblock %}#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span6 offset3 well">
            <div>
                <label>Subject</label>
               {{ event.subject }}
                <label>Start date</label>
                {{ event.start_date}}
                <label>End date</label>
                {{ event.end_date }}
                <form method="POST" enctype="multipart/form-data">
                    <div id="comment_area" class="btn-margin-top">
                        <textarea style="display: block;">
                        </textarea>
                        <button type="submit" class="btn large btn-success">Add comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
